<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forum</title>
    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
   <!-- <script src="{{ STATIC_URL }}jquery-1.8.2.js"></script>
    <script src="{{ STATIC_URL }}jquery-ui-1.9.0.js"></script>
    -->
     <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="outer container">
      <div class="header container">
      <div class="row">
        <div class=span6>
          <h3 class=title>Charlottesville Public Forum</h3>
        </div>
        <div class="span3 pull-right create_account">
          <h5 class="pull-right"><a href="/create" >Create Account</a></h5>
        </div>
      </div>
      <div class="navbar">
        <div class=navbar-inner>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Principles</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Most Discussed</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Most Relevant</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Information</a></li>
            <li class="divider-vertical"></li>
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown">
            <a class="dropdown-toggle"
              data-toggle="dropdown"
              href="#">Sort<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ><a href="#">Popular</a></li>
              <li ><a href="#">Relevant</a></li>
              <li ><a href="#">Comments</a></li>
              <li ><a href="#">Newest</a></li>
            </ul>
            </li>
            <li class="divider-vertical"></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
            <a class="dropdown-toggle" 
              data-toggle="dropdown" 
              href="/users/{{ user }}">{{ user }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Logout</a></li>
              <li><a href="/user/{{ user }}">Profile</a></li>
              </li>
              {% else %}
              <li ><a href="/login">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% if messages %}
        <div class=row>
          <div class=span10>
        <div class="alert alert-block messages">
           <button type="button" class="close" data-dismiss="alert">×</button>
          {% for message in messages %}
          {% if message.tags %} {{ message.tags|capfirst }}! {% endif %} {{ message }}
          {% endfor %}
        </div>
        </div>
      </div>
        {% endif %}
      </div>
        {% block content %}
        {% endblock %}

      </div>
      <footer class="footer"> 
      <div class=row>
        <div class=span12>
          <p> Meta information and legal stuff? perhaps?</p>
        </div>
      </div>
      </footer>


    </body>
  </html>

