{% load template_extensions %}

<div class="post_head row" >
  <div class="span1 point_box">
    <h5 class=votes >{{ post.vote_set.count }}</h5>
    <form method=post action="/posts/{{ post.id }}/vote" >
      {% csrf_token %}
      <input type=submit class=vote_button value=&uArr; >
      </form >
      
      <h5 class=rel_votes >{{ post|rel_count }}</h5>
    <form method=post action="/posts/{{ post.id }}/rvote" >
      {% csrf_token %}
      <input type=submit class=vote_button value=&uArr; >
      </form >

    </div>

    <div class="span11 title">
      <blockquote id=bq class=title >
        <p><a class=lead href="/posts/{{ post.id }}">{{ post.title }}</a></p>
        <small>Posted by {{ post.user }} on {{ post.date|date:"m/d/Y" }} with {{ post.children.all|length }} direct children</small>
        {% if post.identifier > 0 %}
        <h5 class=identifier>({{ post.identifier }})</h5>
        {% endif %}
      </blockquote>
    </div>
  </div>


