{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="span8">
    {% if post.parent.id %}
    <a href="/posts/{{ post.parent.id }}">^ Parent ^</a>
    {% else %}
    <a href="/">^ back home ^</a>
    {% endif %}
  </div>
</div>
<div class=toppost>
{% include 'post_head.html' %}
</div>
<div class=row>
  <div class=span12>
<div class="well">
  <p>
  {{ post.body }}
  </p>
</div>
</div>
</div>

{% for post in p_struct %}
  {% include 'post_tree.html' %}
{% empty %}
  <p> No children of this post </p>
{% endfor %}


{% include 'post_form.html' %}


{% endblock content %}

