{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="span8">
  {% if post.parent.id %}
    <a href="/posts/{{ post.parent.id }}">^ Parent ^</a>
  {% else %}
    <a href="/">^ back home ^</a>
  {% endif %}
  </div>
</div>
{% include 'post_head.html' %}
<div class=well>
    <p>
    {{ post.body }}
    </p>
  </div>
  {% for post in children %}
  {% include 'post_head.html' %}
  {% empty %}
  <p> No children of this post </p>
  {% endfor %}

  
  {% include 'post_form.html' %}


{% endblock content %}

