html, body {
  height: 100%;
}

div.post_head {
  border-top: solid 3px #EEE;
  width: 950px;
  margin-bottom: 0px;
}

p {
  word-wrap: break-word;
}

div.container.outer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow:auto;
  padding-bottom:120px; /* this needs to be bigger than footer height*/
  margin-left: 10px;
  margin-right: 0px;
  width: 1250px;
}

div.container.header {
  min-height: 100%;
  width: 950px;
  margin: 0px;
}
blockquote {
  margin-bottom: 0px;
}

div.base {
  padding-right: 5px;
  padding-left: 5px;
  width: 950px;
}

div > h5 {
  margin-top: 20px;
  margin-bottom: 0px;
}
div.row {
  margin-left: 0px;
}

.footer {
  margin-top: 10px;
  padding-top: 10px;
  background-color: whiteSmoke;
  margin-top: -120px; /* negative value of footer height */
  height: 120px;
  clear:both;
  padding-top:20px;
}

div.navbar {
  margin-bottom: 20px;
}

div.title {
  margin-left: 0px;
}
.votes {
  color: orange;
}
div.rel_votes{
  color: green;
  margin-bottom: 2px;
}

div.children{
  padding-left: 80px;
}

.post_form > Textarea, #id_title, #id_summary
{
width: 800px;
}

h5.identifier {
  float: right;
  color: red;
}

#relvote_stack {
  margin-left: 200px;
}

div.alias {
  margin: 20px;
}

form.vote {
  margin: 0px;
  display: inline;
}

input.vote_button {
  background-image:url('orange_triangle.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  margin-top: 3px;
}

input.rel_vote {
  background-image:url('green_triangle.png');
}

div.score {
  margin-top: 0px;
  margin-left: 6px;
}


blockquote small::before {
content: none;
}


div.orange_box {
  float: left;
}

div.green_box {
  float: right;
  margin-right: 10px;
}

div.point_box {
  margin-left: 10px;
}

.lead {
font-size: 18px;
}

p.summary {
padding-left: 20px;
}

div.gbg {
background-color: #74C296;
}
div.ojbg {
background-color: #EDC54E;
}
