html, body {
  height: 100%;
}

div.post_head {
  border-top: solid 3px #EEE;
  width: 950px;
  margin-bottom: 0px;
  height: 80px;
}

p {
  word-wrap: break-word;
}

div.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow:auto;
  padding-bottom:120px; /* this needs to be bigger than footer height*/
  margin-left: 10px;
  margin-right: 0px;
  width: 1250px;
}

blockquote {
  height: 80px;
  margin-bottom: 0px;
}

div.base {
  padding-right: 5px;
  padding-left: 5px;
  width: 950px;
}

div > h5 {
  margin-top: 20px;
  margin-bottom: 0px;
}
div.row {
  margin-left: 0px;
}

.footer {
  margin-top: 10px;
  padding-top: 10px;
  background-color: whiteSmoke;
  margin-top: -120px; /* negative value of footer height */
  height: 120px;
  clear:both;
  padding-top:20px;
}

div.navbar {
  margin-bottom: 20px;
}

div.title {
  margin-left: 0px;
}
div.votes {
  color: orange;
}
div.rel_votes{
  color: green;
}

div.children{
  padding-left: 80px;
}

input, textarea
{
width: 950px;
}

